<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <userSettings>
    <GHelper.Properties.Settings>
      <setting name="XpadderStartup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GamepadConnected" serializeAs="String">
        <value>Xbox 360 Controller</value>
      </setting>
      <setting name="XpadderProfiles" serializeAs="String">
        <value>\Utilities\Xpadder\Controller Profiles\</value>
      </setting>
      <setting name="XpadderLocation" serializeAs="String">
        <value>\Utilities\Xpadder\Xpadder.exe</value>
      </setting>
      <setting name="GameShortcutsFolder" serializeAs="String">
        <value>%APPDATA%\Microsoft\Windows\Start Menu\Programs\Games\, %PROGRAMDATA%\Microsoft\Windows\Start Menu\Programs\Games\</value>
      </setting>
      <setting name="CustomX" serializeAs="String">
        <value>Battlefield 3, Dirty Bomb, EVE Online, Halo 2, StarCraft II, Star Conflict, Path of Exile, Wasteland 2, Dota 2, Metro Last Light</value>
      </setting>
      <setting name="MouseX" serializeAs="String">
        <value>Blacklight Retribution, Call of Duty Black Ops, Call of Duty Black Ops 2, Call of Duty Modern Warfare, Call of Duty Modern Warfare 2, Crysis 2, F.3.A.R, F.E.A.R. 2, Fallout New Vegas, Far Cry 2, Gears of War, Ghost In The Shell - First Assault, Ghost Recon Future Soldier, Ghostbusters - The Video Game, Mass Effect, Mass Effect 2, Mass Effect 3, Max Payne 3, Medal of Honor Warfighter, Paladins, Spec Ops The Line, Syndicate, The Elder Scrolls V Skyrim, World of Warships</value>
      </setting>
      <setting name="StopGamingTimer" serializeAs="String">
        <value>12/21/2017 22:00:00</value>
      </setting>
      <setting name="StopGamingReminder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlarmSound" serializeAs="String">
        <value>Alarm10.wav</value>
      </setting>
      <setting name="XpadderStartupEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartWithGame" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="GamePadDetection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupRequest" serializeAs="String">
        <value>1</value>
      </setting>
    </GHelper.Properties.Settings>
  </userSettings>
</configuration>
